.DS_Store
node_modules
# public
dist/*.gz
dist/*.gz
dist/.DS_Store
coverage
docs/.vuepress/dist
# dist
# local env files
.env.local
.env.*.local

# related test files
/tests/e2e/reports
/tests/e2e/videos
/tests/e2e/screenshots

# editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
# Backups
.BACKUP
.STORAGE

public-demos