a.router-link-active {
  border-bottom: none !important;
}
a.router-link-active.router-link-exact-active {
  border-bottom: 2px solid #42b983 !important;
}

.hero img {
  max-width: 100%;
}

img {
  max-width: 100%;
}

.theme-container .sidebar {
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch !important;
}

.home .feature {
  text-align: center;
}

@media (max-width: 719px) {
  .home .features {
    align-items: center;
  }
}

.vuepress-plugin-demo-block__wrapper .vuepress-plugin-demo-block__code
  overflow: scroll
